
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

.category-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 3em;

}
.btTxt:hover{
	opacity: 0.3;

}

.achievement-category-type{
 font-family: 'Montserrat', sans-serif;
}

.achievement-name{

	padding-top: 1em;
}

.btTxt-icon{
	visibility: hidden;

}

.btn-icons{
	height: 64px;
	width:70px;
}

.goal-name{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	font-weight: 20;
}

.bucket-list {
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.goal {
	margin-top: 2em;
	margin-bottom: 2em;
}

.thumbnail {
	max-width: 100px;
	max-height: 100px;
}

.category-name{
	height:250px;
	background-image: url(https://secure.static.tumblr.com/f2ba0834c6d47be5e96d94afdffed5ec/fnrhsh7/4jFmsu89w/tumblr_static_road.jpg);
	background-repeat: no-repeat;
 	background-size: 100% 100%;

}

.category-type > p {
	padding-top: 8%;
	padding-right: 8%;

}